<div class="fs">
	<div>
		<div data-dojo-attach-point="addStop" title="addStop" data-dojo-attach-event="onclick:_addStopcon" class="nadijit addStop"></div>
	</div>
	<div><div data-dojo-attach-point="addBarrier" title="addBarrier" data-dojo-attach-event="onclick:_addBarriercon" class="nadijit addBarrier"></div></div>
	<div>
		<div data-dojo-attach-point="solveRoute" title="solveRoute" data-dojo-attach-event="onclick:_solveRoute" class="nadijit solveRoute"></div>
		<div data-dojo-attach-point="clearAll" title="clearAll" data-dojo-attach-event="onclick:_clearAll" class="nadijit clearAll"></div>
	</div>
</div>